<main>
  <div class="top-container">
    <button class="butt butt-primary" onclick="deleteSelectedBudgets()">Delete Selected</button>
    <div class="tool-tip tool-tip-primary">
      ?
      <span id="tool-tip-text-mybudgets">If you do not have a budget, press "Create" on the top of the screen</span>
    </div>
  </div>
  <div class="budgets-container">
    <table>
      <thead>
        <tr>
          <th>Nr.</th>
          <th>Budget name</th>
          <th>Total</th>
          <th>Style</th>
          <th>Last edited</th>
          <th>Date created</th>
          <!-- This is done to make space for the edit icon -->
          <th></th>
        </tr>
      </thead>
      <tbody>
          <% 
          budget_list.forEach((budget, index)=> { %>
            <tr class="budget-row" >
              <td>
                <input type="checkbox" class="checkbox" name="<%= budget._id %>" />
                <%= index+1 %>
              </td>
              <td >
                <%= budget.name %>
              </td>
              <td >
                <%= budget.totalIncome %> dkk
              </td>
              <td >
                <%= budget.budgetType %>
              </td>
              <td >
                <%= new Date(budget.updatedAt).toLocaleDateString() %>
              </td>
              <td >
                <%= new Date(budget.createdAt).toLocaleDateString() %>
              </td>
              <td ><a id="edit-a-tag" href="/budgetinstance/<%= budget._id %>"><img src="/images/edit-button.png" id="edit-button"></a>
              </td>
            </tr>
          <% }); %>
      </tbody>
    </table>
  </div>
</main>