<main>
  <div class="top-container">
    <button class="butt butt-primary" onclick="deleteSelectedBudgets()">Delete Selected</button>
    <button class="butt butt-primary">Upload (icon)</button>
    <div class="tool-tip tool-tip-primary">
      ?
      <span id="tool-tip-text-mybudgets">You can upload your previously downloaded budgets here</span>
    </div>
  </div>
  <div class="budgets-container">
    <table>
      <thead>
        <tr>
          <th>Nr.</th>
          <th>Budget name</th>
          <th>Total</th>
          <th>Style</th>
          <th>Last edited</th>
          <th>Date created</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% let i=1; %>
          <% budget_list.forEach((budget)=> { %>
            <tr>
              <td>
                <input type="checkbox" class="checkbox" name="<%= budget._id %>" />
                <%= i %>
              </td>
              <td>
                <%= budget.name %>
              </td>
              <td>
                <%= budget.totalIncome %> dkk
              </td>
              <td>
                <%= budget.budgetType %>
              </td>
              <td>
                <%= new Date(budget.updatedAt).toLocaleDateString() %>
              </td>
              <td>
                <%= new Date(budget.createdAt).toLocaleDateString() %>
              </td>
              <td><a href="/budgetinstance/<%= budget._id %>"><img src="/images/edit-button.png" id="edit-button"></a>
              </td>
              <% i++; %>
                <% }); %>
            </tr>
      </tbody>
    </table>
  </div>
</main>